@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or App.css */
.scrollbar-thin-modern::-webkit-scrollbar {
  height: 6px; /* horizontal scrollbar height */
}
.scrollbar-thin-modern::-webkit-scrollbar-track {
  background: #e5e7eb; /* gray-200 */
}
.scrollbar-thin-modern::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* gray-400 */
  border-radius: 9999px;
}
.scrollbar-thin-modern::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* gray-500 */
}
